<app-breadcrumb [listaUrl]="listaUrl"></app-breadcrumb>

<mat-accordion class="example-headers-align">
  <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title> Categorias </mat-panel-title>
      <mat-icon>unarchive</mat-icon>
    </mat-expansion-panel-header>

    <div class="row col-12">
      <div class="col-md-12 ">
        <div class="row">
          <div class="col-lg-7 mt-2 ">
            <button mat-stroked-button color="primary" (click)="crearNuevaCategoria()">Crear Nueva Categoria</button>
          </div>

          <div class="col-lg-5 d-flex justify-content-end">
            <mat-form-field appearance="standard" class="d-flex justify-content-end">
              <mat-label>Buscar...</mat-label>
              <input matInput (keyup)="applyFilterCategoria($event)" placeholder="Ej. Mia" #inputCategoria>
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="mt-3">
        <table mat-table [dataSource]="dataSourceCategoria" multiTemplateDataRows matSort>

          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> N° </th>
            <td mat-cell *matCellDef="let element; let i = dataIndex;"> {{ i+1 }} </td>
          </ng-container>

          <ng-container matColumnDef="img">
            <th mat-header-cell *matHeaderCellDef> Imagen </th>
            <td mat-cell *matCellDef="let element">
              <img [src]="verimg('categorias', element.img)" style="border-radius: 10px;" width="75px" height="75px">
            </td>
          </ng-container>

          <ng-container matColumnDef="nombre_categoria">
            <th mat-header-cell *matHeaderCellDef> Nombre de la Categoria </th>
            <td mat-cell *matCellDef="let element"> {{ element.nombre_categoria | titlecase }}</td>
          </ng-container>

          <ng-container matColumnDef="accion">
            <th mat-header-cell *matHeaderCellDef> Accion </th>

            <td mat-cell *matCellDef="let element">
              <mat-icon color="primary" (click)="editarCategoria(element)">edit</mat-icon>
              <mat-icon (click)="eliminarCategoria(element)">delete</mat-icon>

            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpandCategoria"></tr>
          <tr mat-row *matRowDef="let row; columns: columnsToDisplayWithExpandCategoria;"></tr>

          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No hay registros "{{inputCategoria.value}}"</td>
          </tr>
        </table>
        <mat-paginator #MatPaginatorCategoria [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
    </div>

    <mat-action-row class="button-container">
      <button mat-button color="warn" (click)="setStep(2)"> <mat-icon>style</mat-icon> Registrar Producto</button>
      <button mat-button color="primary" (click)="nextStep()"> <mat-icon>move_to_inbox</mat-icon> Registrar
        Servicio</button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Servicios
      </mat-panel-title>
      <mat-icon>move_to_inbox</mat-icon>
    </mat-expansion-panel-header>

    <div class="row col-12">
      <div class="col-md-12 ">
        <div class="row">
          <div class="col-lg-7 mt-2 ">
            <button mat-stroked-button color="primary" (click)="crearNuevoServicio()">Crear Nuevo Servicio</button>
          </div>

          <div class="col-lg-5 d-flex justify-content-end">
            <mat-form-field appearance="standard" class="d-flex justify-content-end">
              <mat-label>Buscar...</mat-label>
              <input matInput (keyup)="applyFilterServicio($event)" placeholder="Ej. Mia" #inputServicio>
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="mt-3">
        <table mat-table [dataSource]="dataSourceServicio" multiTemplateDataRows matSort>

          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> N° </th>
            <td mat-cell *matCellDef="let element; let i = dataIndex;"> {{ i+1 }} </td>
          </ng-container>

          <ng-container matColumnDef="imagen">
            <th mat-header-cell *matHeaderCellDef> Imagen </th>
            <td mat-cell *matCellDef="let element">
              <img [src]="verimg('servicios', element.imagen)" style="border-radius: 10px;" width="75px" height="75px">
            </td>
          </ng-container>

          <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef> Nombre del Servicio </th>
            <td mat-cell *matCellDef="let element"> {{ element.nombre | titlecase }} </td>
          </ng-container>

          <ng-container matColumnDef="precio">
            <th mat-header-cell *matHeaderCellDef> Precio </th>
            <td mat-cell *matCellDef="let element"> {{ element.precio | currency : 'USD' }} </td>
          </ng-container>

          <ng-container matColumnDef="nombre_categoria">
            <th mat-header-cell *matHeaderCellDef> Nombre de la Categoria </th>
            <td mat-cell *matCellDef="let element"> {{ element.categoria.nombre_categoria }} </td>
          </ng-container>

          <ng-container matColumnDef="accion">
            <th mat-header-cell *matHeaderCellDef> Accion </th>

            <td mat-cell *matCellDef="let element">
              <mat-icon color="primary" (click)="editarServicio(element)">edit</mat-icon>
              <mat-icon (click)="eliminarServicio(element)">delete</mat-icon>

            </td>
          </ng-container>

          <ng-container matColumnDef="expand">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button
                (click)="(expandedElementServicio = expandedElementServicio === element ? null : element); $event.stopPropagation()">
                <mat-icon *ngIf="expandedElementServicio !== element">keyboard_arrow_down</mat-icon>
                <mat-icon *ngIf="expandedElementServicio === element">keyboard_arrow_up</mat-icon>
              </button>
            </td>
          </ng-container>

          <ng-container matColumnDef="expandedDetailServicio">
            <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpandServicio.length">
              <div class="example-element-detail"
                [@detailExpand]="element == expandedElementServicio ? 'expanded' : 'collapsed'">

                <div class="row col-12" *ngIf="element.descripcion.length > 0;  else NoData">
                  <div class="col-md-4">
                    <mat-list role="list">
                      <mat-list-item class="d-flex justify-content-start" role="listitem"
                        *ngFor="let des of element.descripcion.slice(0, 5)">
                        <span class="example-element-name">
                          <mat-icon class="fs">fiber_manual_record</mat-icon>
                          {{ des | titlecase }}
                        </span>
                      </mat-list-item>
                    </mat-list>
                  </div>
                  <div class="col-md-4">
                    <mat-list role="list">
                      <mat-list-item class="d-flex justify-content-start" role="listitem"
                        *ngFor="let des of element.descripcion.slice(5, 10)">
                        <span class="example-element-name">
                          <mat-icon class="fs">fiber_manual_record</mat-icon>
                          {{ des | titlecase }}
                        </span>
                      </mat-list-item>
                    </mat-list>
                  </div>
                  <div class="col-md-4">
                    <mat-list role="list">
                      <mat-list-item class="d-flex justify-content-start" role="listitem"
                        *ngFor="let des of element.descripcion.slice(10, 15)">
                        <span class="example-element-name">
                          <mat-icon class="fs">fiber_manual_record</mat-icon>
                          {{ des | titlecase }}
                        </span>
                      </mat-list-item>
                    </mat-list>
                  </div>
                </div>

                <ng-template #NoData>
                  No tiene descripcion.
                </ng-template>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpandServicio"></tr>
          <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpandServicio;" class="example-element-row"
            [class.example-expanded-row]="expandedElementServicio === element">
          </tr>

          <tr mat-row *matRowDef="let row; columns: ['expandedDetailServicio']" class="example-detail-row"></tr>

          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No hay registros "{{inputServicio.value}}"</td>
          </tr>
        </table>
        <mat-paginator #MatPaginatorServicio [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
    </div>

    <mat-action-row class="button-container">
      <button mat-button color="warn" (click)="prevStep()"> <mat-icon>unarchive</mat-icon> Registrar Categoria</button>
      <button mat-button color="primary" (click)="nextStep()"> <mat-icon>style</mat-icon> Registrar Productos</button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title> Productos </mat-panel-title>
      <mat-icon>style</mat-icon>
    </mat-expansion-panel-header>

    <div class="row col-12">
      <div class="col-md-12 ">
        <div class="row">
          <div class="col-lg-7 mt-2 ">
            <button mat-stroked-button color="primary" (click)="crearNuevoProducto()">Crear Nuevo Producto</button>
          </div>

          <div class="col-lg-5 d-flex justify-content-end">
            <mat-form-field appearance="standard" class="d-flex justify-content-end">
              <mat-label>Buscar...</mat-label>
              <input matInput (keyup)="applyFilterProducto($event)" placeholder="Ej. Mia" #inputProducto>
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="mt-3">
        <table mat-table [dataSource]="dataSourceProducto" multiTemplateDataRows matSort>

          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> N° </th>
            <td mat-cell *matCellDef="let element; let i = dataIndex;"> {{ i+1 }} </td>
          </ng-container>

          <ng-container matColumnDef="imagen">
            <th mat-header-cell *matHeaderCellDef> Imagen </th>
            <td mat-cell *matCellDef="let element">
              <img [src]="verimg('productos', element.imagen)" style="border-radius: 10px;" width="75px" height="75px">
            </td>
          </ng-container>

          <ng-container matColumnDef="codigo">
            <th mat-header-cell *matHeaderCellDef> Código </th>
            <td mat-cell *matCellDef="let element"> {{ element.codigo }}</td>
          </ng-container>

          <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let element"> {{ element.nombre | titlecase }}</td>
          </ng-container>

          <ng-container matColumnDef="categoria">
            <th mat-header-cell *matHeaderCellDef> Categoria </th>
            <td mat-cell *matCellDef="let element"> {{ element.categoria.nombre_categoria | titlecase }}</td>
          </ng-container>

          <ng-container matColumnDef="stock">
            <th mat-header-cell *matHeaderCellDef> Stock </th>
            <td mat-cell *matCellDef="let element"> 
              <button mat-mini-fab [ngStyle]="getStockColor(element.stock)"> {{ element.stock }} </button>
            </td>
          </ng-container>

          <ng-container matColumnDef="precio_compra">
            <th mat-header-cell *matHeaderCellDef> Precio Compra </th>
            <td mat-cell *matCellDef="let element"> {{ element.precio_compra | currency: 'USD' }}</td>
          </ng-container>

          <ng-container matColumnDef="precio_venta">
            <th mat-header-cell *matHeaderCellDef> Precio Venta </th>
            <td mat-cell *matCellDef="let element"> {{ element.precio_venta | currency: 'USD' }}</td>
          </ng-container>

          <ng-container matColumnDef="margen_ganancia">
            <th mat-header-cell *matHeaderCellDef> Margen de Ganancia </th>
            <td mat-cell *matCellDef="let element"> {{ element.margen_ganancia | currency: 'USD' }}</td>
          </ng-container>

          <ng-container matColumnDef="accion">
            <th mat-header-cell *matHeaderCellDef> Accion </th>

            <td mat-cell *matCellDef="let element">
              <button mat-icon-button color="primary" (click)="editarProducto(element)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button (click)="eliminarProducto(element)" [disabled]="element.stock > 0">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpandProducto"></tr>
          <tr mat-row *matRowDef="let row; columns: columnsToDisplayWithExpandProducto;"></tr>

          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No hay registros "{{inputProducto.value}}"</td>
          </tr>
        </table>
        <mat-paginator #MatPaginatorProducto [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
    </div>

    <mat-action-row class="button-container">
      <button mat-button color="warn" (click)="setStep(0)"> <mat-icon>unarchive</mat-icon> Registrar Categoria</button>
      <button mat-button color="primary" (click)="prevStep()"> <mat-icon>move_to_inbox</mat-icon> Registrar
        Servicio</button>
    </mat-action-row>
  </mat-expansion-panel>

</mat-accordion>